* {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #grid1 {
    background-color: lightblue;
  }
  #grid2 {
    background-color: lightcyan;
  }
  #grid3 {
    background-color: lightblue;
  }

  .toDoContainer {
    width: 80%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
  }
  
  #list-header {
    width: 80%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

  }

  #list-header h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  #listContent {
    width: 80%;
    height: 80%;
    background-color: white;
    margin: auto;
  }

  .input-container {
    width: 80%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  #list-input {
    width: 70%;
    height: 2rem;
    text-indent: 0.6rem;
  }

  #submitButton {
    width: 25%;
    height: 2.2rem;
    float: right;
    cursor: pointer;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    height: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 1rem;
    transition: 0.2s;  
  }

  .active {
    background-color: lightgrey;
    color: black;
    text-decoration: line-through;
  }

  .delete-icon {
    cursor: pointer;
    float: right;
    margin-right: 12px;
  }