* {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #grid1 {
    background-color: lightblue;
  }
  #grid2 {
    background-color: lightcyan;
  }
  #grid3 {
    background-color: lightblue;
  }

  .toDoContainer {
    width: 80%;
    height: 95%;
    margin: auto;
    background-color: green;
  }
  
  #list-header {
    width: 80%;
    height: 10%;
    background-color: yellow;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  #list-content {
    width: 80%;
    height: 82.5%;
    background-color: aqua;
    margin: auto;
  }